#about-section {
    min-height: 100vh;
    position: relative;
    background: $white;
}

.about-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: $white;
}

#toggle-oscar, #toggle-giorgi {
    color: $accent;
    cursor: default;
}

.about-title {
    background: $white;
    h1 {
        text-shadow: 1px 1px $dark,
        2px 2px $dark;
    }
}

.about-text {
    width: calc(100% - 450px);
    background: $white;
}


//ABOUT ROTATING CUBE

.about-cube {
    width: 400px;
    height: 400px;
    position: relative;
    border: 10px solid $dark;
    border-radius: 5px;
    img {
        height: auto;
        width: 100%;
    }
}

#giorgi {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#oscar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

