#about-section {
    min-height: 100vh;
    position: relative;
    background: $white;
}

.about-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: $white;
}

#toggle-flip-bottom, #toggle-flip-top {
    color: $accent;
    cursor: default;
}

.about-title {
    background: $white;
    h1 {
        text-shadow: 1px 1px $dark,
        2px 2px $dark;
    }
}

.about-text {
    width: calc(100% - 450px);
    background: $white;
}


//ABOUT ROTATING CUBE

.about-cube {
    width: 400px;
    height: 400px;
    background: transparent;
    transition: all 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    position: relative;
    transform: rotateX(0deg);
    border: 10px solid $lightblue;
    border-radius: 5px;
    img {
        height: auto;
        width: 100%;
        overflow: hidden;
        // margin: 0 auto;
    }
}

.show-top {
    transform: rotateX(-90deg);
}

.show-bottom {
    transform: rotateX(90deg);
}

#giorgi {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#oscar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.top {
    height: 400px;
    background: transparent;
    width: 100%;
    transform: rotateX(90deg) translateZ(200px);
    position: absolute;
    top: 0px;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 5px;
    border:10px solid $dark;
}

.bottom {
    height: 400px;
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    transform: rotateX(-90deg) translateZ(200px);
    backface-visibility: hidden;
     overflow: hidden;
     border-radius: 5px;
     border:10px solid $dark;
}

.front {
    height: 400px;
    width: 100%;
    background: transparent;
    position: absolute;
    backface-visibility: hidden;
     overflow: hidden;
     border-radius: 5px;
     border:10px solid $dark;
}


