$dark: #061323;
// RGB(6, 19, 35)

$blue: #49738D;
// RGB(73, 115, 141)

$lightblue:#A9C9DA;
// RGB(169, 201, 218)

$accent: #DB5656;
// RGB(219, 86, 86)

$white: #F1F1F1;
// RGB(241, 241, 241)

//Second Palette
// $accent: #ffd700;
// $lightblue: #115173;
// $blue: #053f5e;
// $dark: #022c43;

