.contact-flex {
    display: flex;
    justify-content: space-between;
}

.contact-title h1 {
    text-shadow: 1px 1px $dark,
    2px 2px $dark;
    position: relative;
    &:after {
          position: absolute;
            content: "";
            top: 55%;
            left: 240px;
            height: 6px;
            width: 100px;
            border-radius: 5%;
            background: $blue;
    }
}

.note {
    width: 500px;
    position: relative;
     box-shadow: 1px 1px 5px $dark;
     border: 2px solid $lightblue;
    padding:40px;
    background: $white;
    border-radius: 5px;
    h2 {
        text-align: center;
        margin-bottom: 15px;
    }
}

.form-container {
    width: 500px;
    text-align: center;
     box-shadow: 1px 1px 5px $dark;
    padding: 40px;
    background: $white;
    border-radius: 5px;
    border: 2px solid $lightblue;
}

.contact-wrapper {
    
}

.float-name, .float-email, .float-message {
    position: relative;
    width: 400px;
    margin: 25px auto;
    input {
        width: 400px;
        height: 40px;
        border: none;
        padding: 5px;
        background: $blue;
        color: $white;
        transition: all 0.3s;
    }
    textarea {
        border: none;
        padding: 5px;
        background: $blue;
        color: $white;
        transition: all 0.3s;
    }
}

#user-note {
    width: 400px;
}

.float-name label, .float-email label, .float-message label {
    position: absolute;
    top: 10px;
    left: 5px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.float-name input:focus ~ label, .float-email input:focus ~ label {
    opacity: 1;
    top: -24px;
    // color: $blue;
    color: $accent;
}

.float-name input:focus, .float-email input:focus, .float-message textarea:focus {
    background: $white;
    background: $lightblue;
    border-bottom: 4px solid $blue;
    color: $dark;
}


.float-message textarea:focus ~ label {
    opacity: 1;
    top: -25px;
    color: $blue;
    color: $accent;
}

.form-button {
    text-align: center;
    width: 140px;
    height: 40px;
    font-size: 1rem;
}

#hand {
    position: absolute;
    animation: hand 2s infinite;
    font-size: 2rem;
    color: $blue;
    bottom: 60px;
}

.accent {
    color: $accent;
    font-weight: 700;
}

@keyframes hand {
    0% {
        left: 42%;
    }
    50% {
        left: 40%;
    }
    100% {
        left: 42%;
    }
};

@media screen and (max-width: 1200px) {
    .note {
        width: 450px;
    }
    .float-name, .float-email, .float-message {
        width: 350px;
    }
    .form-container {
        width: 450px;
        input {
            width: 350px;
        }
        textarea {
            max-width: 350px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .note {
        width: 400px;
    }
    .float-name, .float-email, .float-message {
        width: 300px;
    }
    .form-container {
        width: 400px;
        input {
            width: 300px;
        }
        textarea {
            max-width: 300px;
        }
    }
    #hand {
        bottom: 10px;
    }
}

@media screen and (max-width: 950px) {
    .contact-flex {
        flex-direction: column;
        border: 2px solid $lightblue;
        box-shadow: 1px 1px 5px $dark;
    }
    .note, .form-container {
        width: 100%;
        border: none;
        box-shadow: none;
    }
    .form-container {
        padding-top: 0;
    }
    .float-name, .float-email, .float-message {
         width: 500px;
         input {
             width: 500px;
         }
         textarea {
             min-width: 500px;
         }
    }
    #hand {
      display: none;
    }
}

@media screen and (max-width: 700px){
        .float-name, .float-email, .float-message {
         width: 400px;
         input {
             width: 400px;
         }
         textarea {
             min-width: 400px;
         }
    }

}

@media screen and (max-width: 600px){
        .float-name, .float-email, .float-message {
         width: 300px;
         input {
             width: 300px;
         }
         textarea {
             min-width: 300px;
         }
    }

}

@media screen and (max-width: 500px){
    .contact-title{
        text-align: center;
    }
    .contact-title h1:after {
        display: none;
    }

}
