header {
    min-height: 100vh;
    // border: 2px solid blue;
    background: $white;
    // background: $dark;
    // background: $lightblue;
    position: relative;
}

.social {
    width: 60px;
    height: 180px;
    position: fixed;
    z-index: 20;
    top: calc(50% - 90px);
    // border: 2px solid red;
    ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        i {
            font-size: 1.5rem;
            color: $dark;
            transition: all 0.3s;
        }
    }
}

.social i:hover {
    color: $accent;
}

#particles-js {
    min-height: 400px;
    max-height: 500px;
    display: flex;
    overflow: hidden;
}

.header-wrapper {
    min-height: 400px;
    max-height: 600px;
    text-align: center;
    position: relative;
    background: $dark;
    border-radius: 10px;
    box-shadow: 1px 1px 10px $dark;
    border: 2px solid $accent;
    .particles-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        // justify-content: center;
        align-items: end;
    }
}

.title-text {
    // border: 1px solid red;
    padding: 0px 0px 40px 40px;
    background: $dark;
    box-shadow: 1px 1px 40px 40px $dark;
    text-align: left;
    h1 {
        color: $accent;
        font-size: 3.5rem;
        text-shadow: 1px 1px $white,
    2px 2px $white;
    }
    h2 {
        color: $white;
    }
}

.first-name {
    display: block;
    font-size: 4rem;
    line-height: 3rem;
}

//MEDIA QUERIES

@media screen and (max-width: 1100px) {
    .social {
        width: 50px;
    }
}

@media screen and (max-width: 500px) {
    .title-text {
        h1 {
            font-size: 3rem;
        }
        .first-name {
            font-size: 3.5rem;
        }
    }
}

@media screen and (max-width: 500px) {

    .nav-bar {
        height: 0;
    }

    .header-wrapper {
        width: 100%;
        margin: 0;
        min-height: 100vh;
        height: 100vh;
        max-height: 1500px;
        border: none;
        border-radius: 0px;
    }

    .title-text {
        h1 {
            margin: 0px 20px;
        }
        h2 {
            margin: 0px 20px 20px;
        }
    }

    .social {
        display: none;
        // top: calc(100% - 100px);
        // width: 100%;
        // ul {
        // flex-direction: row;
        // width: 100%;
        // border: 2px solid red;
        // }
    }

    .title-text {
        // text-align: center;
        padding: 10px;
        // align-self: center;
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1rem;
        }
        .first-name {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
}

