.nav-bar {
    height: 0px;
    overflow: hidden;
}

.nav-list {
    width: 100%;
    text-align: center;
    display: none;
    justify-content: space-around;
    align-items: center;
    background: RGBA(6, 19, 35, 1);
    height: 70px;
    position: fixed;
    z-index: 20;
    li {
        display: inline-block;
        margin: 20px 40px;
        a {
            transition: all 0.3s;
        }
    }
}

.show-nav {
    top: 0;
}

.burger-button {
    height: 60px;
    width: 60px;
    position: fixed;
    top: 8px;
    right: 10px;
    padding-top: 5px;
    z-index: 30;
    div {
        background: $accent;
        position: relative;
        margin: 0 auto;
        margin-top: 5px;
        transition: all 0.5s;
    }
}

.burger-button.cross div:nth-child(1){
    top: 20px;
    transform: rotate(135deg);
    width: 40px;
     
}

.burger-button.cross div:nth-child(2){
   opacity: 0;
}

.burger-button.cross div:nth-child(3){
    transform: rotate(-135deg);
    width: 40px;
}


.line-one {
    width: 20px;
    height: 5px;
}

.line-two {
    width: 40px;
    height: 5px;
}

.line-three {
    width: 20px;
    height: 5px;
}

.burger-button:hover .line-one, .burger-button:hover .line-three {
    width: 40px;
}

.nav-list a {
    position: relative;
    &:after {
        bottom: 0;
        content: "";
        height: 2px;
        width: 0;
        left: 50%;
        position: absolute;
        background: $accent;
        transition: all 0.3s;
    }
}
//adapted from https://codepen.io/grich/pen/JVErBo

//HOVER STATE

.nav-list li:hover a {
    color: $white;
      &:after {
        width: 100%;
        left: 0;
    }
 
}

.nav-list a:focus {
    color: $white;
    &:after {
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 800px){
   .nav-list li {
       margin: 20px;
   }

}

@media screen and (max-width: 600px){
   .nav-list li {
       margin: 20px 10px;
   }

}

@media screen and (max-width: 520px){
    .nav-list {
        padding-left: 20px;
        text-align: left;
    }
   .nav-list li {
       font-size: 0.9rem;
   }
}

@media screen and (max-width: 490px){
   .nav-list li {
       font-size: 0.8rem;
       margin: 20px 7px;
   }
}

@media screen and (max-width: 400px){
    .nav-list {
        padding-left: 10px;
    }
   .nav-list li {
       font-size: 0.7rem;
       margin: 20px 5px;
   }
}




