#skills-section {
    min-height: 60vh;
    position: relative;
    background: $white;
}

.skills-wrapper {
    // background: $dark;
    box-shadow: 1px 1px 5px $dark;
    // border: 2px solid $accent;
    // background: linear-gradient(to right,  RGBA(241, 241, 241, 0.1), RGBA(6, 19, 35, 1));
    background: $dark;
}

.skills-title h1 {
    position: relative;
    display: inline-block;
         &:after {
            position: absolute;
            content: "";
            top: 55%;
            right: -45%;
            height: 6px;
            width: 100px;
            border-radius: 5%;
            background: $white;
        }
}

.toolbox-container {
    height: 160px;
    // border: 4px solid cornflowerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

figure i {
    font-size: 3rem;
    color: $accent;
}
figcaption {
    color: $accent;
}

@media screen and (max-width: 750px) {

    figure {
        text-align: center;
    }
  figure i {
      font-size: 2rem;
  }
  figcaption {
      font-size:0.7rem;
  }
}

@media screen and (max-width: 500px){
    .skills-title {
        text-align: center;
    }
    .skills-title h1:after {
        display: none;
    }
    .toolbox-container {
        flex-wrap: wrap;
        min-height: 160px;
    }
    figure {
        margin: 10px;
    }
}
