#work {
    min-height: 100vh;
    position: relative;
    background: $white;
    h1 {
        // color: $white;
        text-shadow: 1px 1px $white,
        2px 2px $white;
        margin-bottom: 40px;
    }
}

.work-wrapper {
    perspective: 200px;
    background: $dark;
    padding-bottom: 40px;
}

.work-flex {
    display: flex;
    width: 100%;
    // border: 4px solid red;
}

.work-desc {
    width: 50%;
    // border: 4px solid cornflowerblue;
    p {
        color: $accent;
    }
}

.cube-wrapper {
    perspective: 800px;
    width: 50%;
    // border: 4px solid yellow;
}

#work-cube {
    position: relative;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    // background: grey;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 2s;
    transform-style: preserve-3d;
    transition: all 2s;
    transform: rotateY(45deg);
    // perspective: 8000px;
}

.face {
    position: absolute;
    height: 360px;
    width: 360px;
    background: white;
    // border: solid 1px red;
    margin: 0 auto;
    border-radius: 5px;
    margin: 0;
    border: 5px solid $accent;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);
    img {
        width: 100%;
    }
}

.zero {
    -webkit-transform: rotateX(90deg) translateZ(180px) rotate(180deg);
    transform: rotateX(90deg) translateZ(180px) rotate(180deg);
    background: transparent;
    border: 10px solid purple;
}

.five {
     -webkit-transform: rotateX(-90deg) translateZ(180px) rotate(180deg);
    transform: rotateX(-90deg) translateZ(180px) rotate(180deg);
    background: yellow;
}

.one {
    -webkit-transform: translateZ(180px);
    transform: translateZ(180px);
}

.two {
    -webkit-transform: rotateY(90deg) translateZ(180px);
    transform: rotateY(90deg) translateZ(180px);
}

.three {
     -webkit-transform: rotateY(180deg) translateZ(180px);
    transform: rotateY(180deg) translateZ(180px);
}

.four {
    -webkit-transform: rotateY(-90deg) translateZ(180px);
    transform: rotateY(-90deg) translateZ(180px);
}

.face-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: blue;
    top: 0;
}

.steer-cube {
    height: 260px;
    // border: 2px solid red;
    display: flex;
    .steer-left, .steer-right {
        width: 50%;
        cursor: pointer;
        // border: 2px solid green;
    }
}

.button-container {
    height: 100px;
    // border: 1px solid purple;
    text-align: center;
}

.live-button {
    margin: 0 auto;
}