#work {
    min-height: 100vh;
    position: relative;
    background: $white;
    h1 {
        // color: $white;
        text-shadow: 1px 1px $white,
        2px 2px $white;
        margin-bottom: 40px;
    }
}

.work-wrapper {
    perspective: 200px;
    background: $dark;
    padding-bottom: 40px;
}

.work-flex {
    display: flex;
    width: 100%;
    // border: 4px solid red;
}

.work-desc {
    width: 50%;
    // border: 4px solid cornflowerblue;
    p {
        color: $accent;
    }
}

.cube-wrapper {
    perspective: 600px;
    width: 50%;
    // border: 4px solid yellow;
}

#work-cube {
    position: relative;
    bottom: 30px;
    right: -20px;
    // height: 400px;
    height: 300px;
    // width: 400px;
    width: 300px;
    margin: 0 auto;
    // background: grey;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 2s;
    transform-style: preserve-3d;
    transition: all 2s;
    transform: rotateY(45deg);
    // perspective: 8000px;
}

#call-to-action {
    text-align: center;
    transform: rotateX(180deg) rotateY(180deg);
    height: 100%;
    // margin-top: 130px;
    font-size: 2rem;
    // perspective: 500px;
}

#hidden-vid {
    position: fixed;
    top: 0;
    right: 0;
    // right: -45%;
    // width: 100%;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    // height: 360px;
    height: 270px;
    // width: 360px;
    width: 270px;
    background: white;
    // border: solid 1px red;
    margin: 0 auto;
    border-radius: 5px;
    margin: 0;
    border: 5px solid $accent;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);
    img {
        width: 100%;
    }
}

.zero {
    -webkit-transform: rotateX(90deg) translateZ(135px) rotate(180deg);
    transform: rotateX(90deg) translateZ(135px) rotate(180deg);
    background: transparent;
    border: 10px solid purple;
    // background: url(../../assets/hypnotize.gif);
    // background-size: cover;
    // background-repeat: no-repeat;
    overflow: hidden;
    // perspective: 500px;
}

.one {
    -webkit-transform: translateZ(135px);
    transform: translateZ(135px);
}

.two {
    -webkit-transform: rotateY(90deg) translateZ(135px);
    transform: rotateY(90deg) translateZ(135px);
}

.three {
     -webkit-transform: rotateY(180deg) translateZ(135px);
    transform: rotateY(180deg) translateZ(135px);
}

.four {
    -webkit-transform: rotateY(-90deg) translateZ(135px);
    transform: rotateY(-90deg) translateZ(135px);
}

.five {
     -webkit-transform: rotateX(-90deg) translateZ(135px) rotate(180deg);
    transform: rotateX(-90deg) translateZ(135px) rotate(180deg);
    background: transparent;
}

.face-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: blue;
    top: 0;
}

.steer-cube {
    height: 210px;
    // border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
      .steer-top {
        width: 270px;
        height: 20px;
        // border: 2px solid red;
    }
    .steer-left, .steer-right {
        width: 50%;
        height: calc(100% - 20px);
        cursor: pointer;
        // border: 2px solid green;
    }
  
}

.button-container {
    height: 60px;
    // border: 1px solid purple;
    text-align: center;
}

.live-button {
    margin: 0 auto;
}