article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.6;
  background: #F1F1F1;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #DB5656;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #061323;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #DB5656;
  font-family: 'Lato', sans-serif;
}

i {
  -webkit-animation: down 2s infinite;
          animation: down 2s infinite;
}

img {
  display: block;
}

section {
  padding: 80px 0;
}

button {
  width: 100px;
  height: 30px;
  background: #49738D;
  border: none;
  color: #F1F1F1;
  margin: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 0.7rem;
  border: 4px solid #DB5656;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

button:hover {
  background: #A9C9DA;
  color: #DB5656;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #061323;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.scroll-down i {
  position: absolute;
}

.scroll-down:focus i {
  border: 2px dotted #49738D;
}

.scroll-down:hover, #light-arrow:hover {
  color: #DB5656;
}

#light-arrow {
  color: #F1F1F1;
}

@-webkit-keyframes down {
  0% {
    top: -80px;
  }
  50% {
    top: -70px;
  }
  100% {
    top: -80px;
  }
}

@keyframes down {
  0% {
    top: -80px;
  }
  50% {
    top: -70px;
  }
  100% {
    top: -80px;
  }
}

.nav-bar {
  height: 80px;
  overflow: hidden;
}

.nav-list {
  width: 100%;
  text-align: center;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: RGBA(6, 19, 35, 1);
  height: 70px;
  position: fixed;
  z-index: 20;
}

.nav-list li {
  display: inline-block;
  margin: 20px 40px;
}

.nav-list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.show-nav {
  top: 0;
}

.burger-button {
  height: 60px;
  width: 60px;
  position: fixed;
  top: 8px;
  right: 10px;
  padding-top: 5px;
  z-index: 30;
}

.burger-button div {
  background: #DB5656;
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.burger-button.cross div:nth-child(1) {
  top: 20px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 40px;
}

.burger-button.cross div:nth-child(2) {
  opacity: 0;
}

.burger-button.cross div:nth-child(3) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  width: 40px;
}

.line-one {
  width: 20px;
  height: 5px;
}

.line-two {
  width: 40px;
  height: 5px;
}

.line-three {
  width: 20px;
  height: 5px;
}

.burger-button:hover .line-one, .burger-button:hover .line-three {
  width: 40px;
}

.nav-list a {
  position: relative;
}

.nav-list a:after {
  bottom: 0;
  content: "";
  height: 2px;
  width: 0;
  left: 50%;
  position: absolute;
  background: #DB5656;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-list li:hover a {
  color: #F1F1F1;
}

.nav-list li:hover a:after {
  width: 100%;
  left: 0;
}

.nav-list a:focus {
  color: #F1F1F1;
}

.nav-list a:focus:after {
  width: 100%;
  left: 0;
}

header {
  min-height: 100vh;
  background: #F1F1F1;
  position: relative;
}

.social {
  width: 80px;
  height: 180px;
  position: fixed;
  z-index: 20;
  top: calc(50% - 90px);
}

.social ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social ul i {
  font-size: 1.5rem;
  color: #061323;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social i:hover {
  color: #DB5656;
}

#particles-js {
  min-height: 400px;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.header-wrapper {
  min-height: 400px;
  max-height: 600px;
  text-align: center;
  position: relative;
  background: #061323;
  border-radius: 10px;
}

.header-wrapper .particles-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.title-text {
  padding: 0px 0px 40px 40px;
  background: #061323;
  -webkit-box-shadow: 1px 1px 40px 40px #061323;
          box-shadow: 1px 1px 40px 40px #061323;
  text-align: left;
}

.first-name {
  display: block;
  font-size: 4rem;
  line-height: 3rem;
}

h1 {
  color: #DB5656;
  font-size: 3.5rem;
  text-shadow: 1px 1px #F1F1F1, 2px 2px #F1F1F1;
}

#about-section {
  min-height: 100vh;
  position: relative;
  background: #F1F1F1;
}

.about-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F1F1F1;
}

#toggle-oscar, #toggle-giorgi {
  color: #DB5656;
  cursor: default;
}

.about-title {
  background: #F1F1F1;
}

.about-title h1 {
  text-shadow: 1px 1px #061323, 2px 2px #061323;
}

.about-text {
  width: calc(100% - 450px);
  background: #F1F1F1;
}

.about-cube {
  width: 400px;
  height: 400px;
  position: relative;
  border: 10px solid #061323;
  border-radius: 5px;
}

.about-cube img {
  height: auto;
  width: 100%;
}

#giorgi {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

#oscar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

#work {
  min-height: 100vh;
  position: relative;
  background: #F1F1F1;
}

#work h1 {
  text-shadow: 1px 1px #F1F1F1, 2px 2px #F1F1F1;
  margin-bottom: 40px;
}

.work-wrapper {
  -webkit-perspective: 200px;
          perspective: 200px;
  background: #061323;
  padding-bottom: 40px;
}

.work-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.work-desc {
  width: 50%;
}

.work-desc p {
  color: #DB5656;
}

.cube-wrapper {
  -webkit-perspective: 600px;
          perspective: 600px;
  width: 50%;
}

#work-cube {
  position: relative;
  bottom: 30px;
  right: -20px;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 2s;
  transform-style: preserve-3d;
  transition: all 2s;
  -webkit-transform: rotateY(45deg);
          transform: rotateY(45deg);
}

#call-to-action {
  text-align: center;
  -webkit-transform: rotateX(180deg) rotateY(180deg);
          transform: rotateX(180deg) rotateY(180deg);
  height: 100%;
  font-size: 2rem;
}

#hidden-vid {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.face {
  position: absolute;
  height: 270px;
  width: 270px;
  background: white;
  margin: 0 auto;
  border-radius: 5px;
  margin: 0;
  border: 5px solid #DB5656;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);
          box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);
}

.face img {
  width: 100%;
}

.zero {
  -webkit-transform: rotateX(90deg) translateZ(135px) rotate(180deg);
  transform: rotateX(90deg) translateZ(135px) rotate(180deg);
  background: transparent;
  border: 10px solid purple;
  overflow: hidden;
}

.one {
  -webkit-transform: translateZ(135px);
  transform: translateZ(135px);
}

.two {
  -webkit-transform: rotateY(90deg) translateZ(135px);
  transform: rotateY(90deg) translateZ(135px);
}

.three {
  -webkit-transform: rotateY(180deg) translateZ(135px);
  transform: rotateY(180deg) translateZ(135px);
}

.four {
  -webkit-transform: rotateY(-90deg) translateZ(135px);
  transform: rotateY(-90deg) translateZ(135px);
}

.five {
  -webkit-transform: rotateX(-90deg) translateZ(135px) rotate(180deg);
  transform: rotateX(-90deg) translateZ(135px) rotate(180deg);
  background: transparent;
}

.face-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.steer-cube {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steer-cube .steer-top {
  width: 270px;
  height: 20px;
}

.steer-cube .steer-left, .steer-cube .steer-right {
  width: 50%;
  height: calc(100% - 20px);
  cursor: pointer;
}

.button-container {
  height: 60px;
  text-align: center;
}

.live-button {
  margin: 0 auto;
}

#skills-section {
  min-height: 60vh;
  position: relative;
}

.skills-wrapper {
  background: #061323;
}

.toolbox-container {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figure i {
  font-size: 3rem;
  color: #DB5656;
}

figcaption {
  color: #DB5656;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-title h1 {
  text-shadow: 1px 1px #061323, 2px 2px #061323;
}

.note {
  width: 500px;
  position: relative;
  border: 10px solid #061323;
  padding: 20px;
}

.note h2 {
  text-align: center;
  margin-bottom: 15px;
}

.form-container {
  width: 500px;
  text-align: center;
  border: 10px solid #061323;
  padding: 20px;
}

.float-name, .float-email, .float-message {
  position: relative;
  width: 400px;
  margin: 25px auto;
}

.float-name input, .float-email input, .float-message input {
  width: 400px;
  height: 40px;
  border: none;
  padding: 5px;
  background: #49738D;
  color: #F1F1F1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.float-name textarea, .float-email textarea, .float-message textarea {
  border: none;
  padding: 5px;
  background: #49738D;
  color: #F1F1F1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#user-note {
  width: 400px;
}

.float-name label, .float-email label, .float-message label {
  position: absolute;
  top: 10px;
  left: 5px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.float-name input:focus ~ label, .float-email input:focus ~ label {
  opacity: 1;
  top: -24px;
  color: #DB5656;
}

.float-name input:focus, .float-email input:focus, .float-message textarea:focus {
  background: #F1F1F1;
  background: #A9C9DA;
  border-bottom: 4px solid #49738D;
  color: #061323;
}

.float-message textarea:focus ~ label {
  opacity: 1;
  top: -25px;
  color: #49738D;
  color: #DB5656;
}

.form-button {
  text-align: center;
  width: 140px;
  height: 40px;
  font-size: 1rem;
}

#hand {
  position: absolute;
  -webkit-animation: hand 2s infinite;
          animation: hand 2s infinite;
  font-size: 2rem;
}

.accent {
  color: #DB5656;
  font-weight: 700;
}

@-webkit-keyframes hand {
  0% {
    bottom: 60px;
    left: 42%;
  }
  50% {
    bottom: 60px;
    left: 40%;
  }
  100% {
    bottom: 60px;
    left: 42%;
  }
}

@keyframes hand {
  0% {
    bottom: 60px;
    left: 42%;
  }
  50% {
    bottom: 60px;
    left: 40%;
  }
  100% {
    bottom: 60px;
    left: 42%;
  }
}

footer {
  height: 80px;
  background: #061323;
  text-align: center;
  padding-top: 25px;
}

footer p {
  color: #F1F1F1;
}
/*# sourceMappingURL=style.css.map */