article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.6;
  background: #F1F1F1;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #DB5656;
  text-shadow: 1px 1px #F1F1F1;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #DB5656;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #061323;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #DB5656;
  font-family: 'Lato', sans-serif;
}

i {
  -webkit-animation: down 2s infinite;
          animation: down 2s infinite;
}

img {
  display: block;
}

section {
  padding: 80px 0;
}

button {
  width: 100px;
  height: 30px;
  background: #49738D;
  border: none;
  color: #F1F1F1;
  margin: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 0.7rem;
  border: 4px solid #DB5656;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

button:hover {
  background: #A9C9DA;
  color: #DB5656;
}

.dark {
  color: #061323;
}

.scroll-down .white {
  color: #F1F1F1;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #061323;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.scroll-down i {
  position: absolute;
  z-index: 12;
}

#white {
  color: white;
}

.scroll-down:focus i {
  border: 2px dotted #49738D;
}

.scroll-down:hover, #light-arrow:hover {
  color: #DB5656;
}

#light-arrow {
  color: #F1F1F1;
}

@-webkit-keyframes down {
  0% {
    top: -80px;
  }
  50% {
    top: -70px;
  }
  100% {
    top: -80px;
  }
}

@keyframes down {
  0% {
    top: -80px;
  }
  50% {
    top: -70px;
  }
  100% {
    top: -80px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    margin: 0 50px;
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    margin: 0 10px;
    width: calc(100% - 20px);
  }
}

.nav-bar {
  height: 80px;
  overflow: hidden;
}

.nav-list {
  width: 100%;
  text-align: center;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: RGBA(6, 19, 35, 1);
  height: 70px;
  position: fixed;
  z-index: 20;
}

.nav-list li {
  display: inline-block;
  margin: 20px 40px;
}

.nav-list li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.show-nav {
  top: 0;
}

.burger-button {
  height: 60px;
  width: 60px;
  position: fixed;
  top: 8px;
  right: 10px;
  padding-top: 5px;
  z-index: 30;
}

.burger-button div {
  background: #DB5656;
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.burger-button.cross div:nth-child(1) {
  top: 20px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 40px;
}

.burger-button.cross div:nth-child(2) {
  opacity: 0;
}

.burger-button.cross div:nth-child(3) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  width: 40px;
}

.line-one {
  width: 20px;
  height: 5px;
}

.line-two {
  width: 40px;
  height: 5px;
}

.line-three {
  width: 20px;
  height: 5px;
}

.burger-button:hover .line-one, .burger-button:hover .line-three {
  width: 40px;
}

.nav-list a {
  position: relative;
}

.nav-list a:after {
  bottom: 0;
  content: "";
  height: 2px;
  width: 0;
  left: 50%;
  position: absolute;
  background: #DB5656;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-list li:hover a {
  color: #F1F1F1;
}

.nav-list li:hover a:after {
  width: 100%;
  left: 0;
}

.nav-list a:focus {
  color: #F1F1F1;
}

.nav-list a:focus:after {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 800px) {
  .nav-list li {
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {
  .nav-list li {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 520px) {
  .nav-list {
    padding-left: 20px;
    text-align: left;
  }
  .nav-list li {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 490px) {
  .nav-list li {
    font-size: 0.8rem;
    margin: 20px 7px;
  }
}

@media screen and (max-width: 400px) {
  .nav-list {
    padding-left: 10px;
  }
  .nav-list li {
    font-size: 0.7rem;
    margin: 20px 5px;
  }
}

header {
  min-height: 100vh;
  position: relative;
}

.social {
  width: 60px;
  height: 180px;
  position: fixed;
  z-index: 20;
  top: calc(50% - 90px);
}

.social ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social ul i {
  font-size: 1.5rem;
  color: #061323;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social i:hover {
  color: #DB5656;
}

#particles-js {
  min-height: 400px;
  max-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.header-wrapper {
  background: #061323;
  min-height: 400px;
  max-height: 600px;
  width: 100vw;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 1px 1px 10px #061323;
          box-shadow: 1px 1px 10px #061323;
}

.header-wrapper .particles-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.title-text {
  padding: 0px 0px 60px 60px;
  background: #061323;
  -webkit-box-shadow: 1px 1px 40px 40px #061323;
          box-shadow: 1px 1px 40px 40px #061323;
  text-align: left;
}

.title-text h1 {
  color: #DB5656;
  font-size: 3.5rem;
  text-shadow: 1px 1px #F1F1F1;
}

.title-text h2 {
  color: #F1F1F1;
}

.first-name {
  display: block;
  font-size: 4rem;
  line-height: 3rem;
}

@media screen and (max-width: 1100px) {
  .social {
    width: 50px;
  }
}

@media screen and (max-width: 500px) {
  .title-text h1 {
    font-size: 3rem;
  }
  .title-text .first-name {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .nav-bar {
    height: 0;
  }
  .header-wrapper {
    width: 100%;
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    max-height: 1500px;
    border: none;
    border-radius: 0px;
  }
  .title-text h1 {
    margin: 0px 20px;
  }
  .title-text h2 {
    margin: 0px 20px 20px;
  }
  .social {
    display: none;
  }
  .title-text {
    padding: 10px;
  }
  .title-text h1 {
    font-size: 2rem;
  }
  .title-text h2 {
    font-size: 1rem;
  }
  .title-text .first-name {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

#about-section {
  min-height: 100vh;
  position: relative;
  background: #F1F1F1;
}

.about-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F1F1F1;
}

#toggle-oscar, #toggle-giorgi {
  color: #DB5656;
  cursor: default;
}

.about-title {
  background: #F1F1F1;
}

.about-title h1 {
  text-shadow: 1px 1px #061323, 2px 2px #061323;
  position: relative;
}

.about-title h1:after {
  position: absolute;
  content: "";
  top: 55%;
  left: 20%;
  height: 6px;
  width: 100px;
  border-radius: 5%;
  background: #49738D;
}

.about-text {
  width: calc(100% - 450px);
  background: #F1F1F1;
  padding: 40px;
  -webkit-box-shadow: 1px 1px 5px #061323;
          box-shadow: 1px 1px 5px #061323;
  border-radius: 5px;
}

.about-cube {
  width: 400px;
  height: 400px;
  position: relative;
  -webkit-box-shadow: 1px 1px 5px #061323;
          box-shadow: 1px 1px 5px #061323;
  border-radius: 5px;
}

.about-cube img {
  height: auto;
  width: 100%;
  border-radius: 5px;
}

#giorgi {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

#oscar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1100px) {
  .about-title h1:after {
    left: 23%;
  }
}

@media screen and (max-width: 1050px) {
  .about-text {
    width: calc(100% - 420px);
  }
}

@media screen and (max-width: 1000px) {
  .about-text {
    width: calc(100% - 370px);
  }
  .about-cube {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 940px) {
  .about-text {
    width: calc(100% - 320px);
  }
  .about-cube {
    width: 300px;
    height: 300px;
  }
  .about-title h1:after {
    left: 26%;
  }
}

@media screen and (max-width: 890px) {
  .about-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 1px 1px 5px #061323;
            box-shadow: 1px 1px 5px #061323;
  }
  .about-text {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 0;
    border: none;
  }
  .about-cube, .about-cube img {
    border-radius: 50%;
    border: none;
  }
  .about-title h1:after {
    left: 27%;
  }
}

@media screen and (max-width: 790px) {
  .about-title h1:after {
    left: 31%;
  }
}

@media screen and (max-width: 690px) {
  .about-title h1:after {
    left: 36%;
  }
}

@media screen and (max-width: 600px) {
  .about-title h1:after {
    left: 40%;
  }
}

@media screen and (max-width: 550px) {
  .about-title h1:after {
    left: 45%;
  }
  .about-cube {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .about-title {
    text-align: center;
  }
  .about-title h1:after {
    left: 50%;
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .about-title h1:after {
    left: 58%;
  }
}

#work {
  min-height: 100vh;
  position: relative;
  background: #F1F1F1;
}

#work h1 {
  text-shadow: 1px 1px #F1F1F1, 2px 2px #F1F1F1;
  margin-bottom: 40px;
  position: relative;
}

#work h1:after {
  position: absolute;
  content: "";
  top: 55%;
  left: 180px;
  height: 6px;
  width: 100px;
  border-radius: 5%;
  background: #F1F1F1;
}

.work-wrapper {
  -webkit-perspective: 200px;
          perspective: 200px;
  background: #061323;
  padding-bottom: 40px;
  -webkit-box-shadow: 1px 1px 5px #061323;
          box-shadow: 1px 1px 5px #061323;
}

.work-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.work-desc {
  width: 50%;
}

.work-desc p {
  color: #DB5656;
}

.cube-wrapper {
  -webkit-perspective: 600px;
          perspective: 600px;
  width: 50%;
}

#work-cube {
  position: relative;
  bottom: 30px;
  right: -20px;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 2s;
  transform-style: preserve-3d;
  transition: all 2s;
  -webkit-transform: rotateY(45deg);
          transform: rotateY(45deg);
}

#call-to-action {
  text-align: center;
  -webkit-transform: rotateX(180deg) rotateY(180deg);
          transform: rotateX(180deg) rotateY(180deg);
  height: 100%;
  font-size: 2rem;
}

#hidden-vid {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.face {
  position: absolute;
  height: 270px;
  width: 270px;
  background: white;
  margin: 0 auto;
  border-radius: 5px;
  margin: 0;
  border: 5px solid #DB5656;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);
          box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);
}

.face img {
  width: 100%;
}

.zero {
  -webkit-transform: rotateX(90deg) translateZ(135px) rotate(180deg);
  transform: rotateX(90deg) translateZ(135px) rotate(180deg);
  background: transparent;
  border: 10px solid purple;
  overflow: hidden;
}

.one {
  -webkit-transform: translateZ(135px);
  transform: translateZ(135px);
}

.two {
  -webkit-transform: rotateY(90deg) translateZ(135px);
  transform: rotateY(90deg) translateZ(135px);
}

.three {
  -webkit-transform: rotateY(180deg) translateZ(135px);
  transform: rotateY(180deg) translateZ(135px);
}

.four {
  -webkit-transform: rotateY(-90deg) translateZ(135px);
  transform: rotateY(-90deg) translateZ(135px);
}

.five {
  -webkit-transform: rotateX(-90deg) translateZ(135px) rotate(180deg);
  transform: rotateX(-90deg) translateZ(135px) rotate(180deg);
  background: transparent;
}

.face-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.steer-cube {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steer-cube .steer-top {
  width: 270px;
  height: 20px;
}

.steer-cube .steer-left, .steer-cube .steer-right {
  width: 50%;
  height: calc(100% - 20px);
  cursor: pointer;
}

.button-container {
  height: 60px;
  text-align: center;
}

.live-button {
  margin: 0 auto;
}

#reset-cube {
  position: absolute;
  right: 20%;
  top: 60px;
  display: none;
}

@media screen and (max-width: 980px) {
  .cube-wrapper {
    -webkit-perspective: 800px;
            perspective: 800px;
  }
}

@media screen and (max-width: 980px) {
  .cube-wrapper {
    -webkit-perspective: 800px;
            perspective: 800px;
  }
  #work-cube {
    height: 250px;
    width: 250px;
  }
  .steer-cube {
    height: 160px;
  }
  .face {
    height: 225px;
    width: 225px;
  }
  .zero {
    -webkit-transform: rotateX(90deg) translateZ(112.5px) rotate(180deg);
    transform: rotateX(90deg) translateZ(112.5px) rotate(180deg);
  }
  .one {
    -webkit-transform: translateZ(112.5px);
    transform: translateZ(112.5px);
  }
  .two {
    -webkit-transform: rotateY(90deg) translateZ(112.5px);
    transform: rotateY(90deg) translateZ(112.5px);
  }
  .three {
    -webkit-transform: rotateY(180deg) translateZ(112.5px);
    transform: rotateY(180deg) translateZ(112.5px);
  }
  .four {
    -webkit-transform: rotateY(-90deg) translateZ(112.5px);
    transform: rotateY(-90deg) translateZ(112.5px);
  }
  .five {
    -webkit-transform: rotateX(-90deg) translateZ(112.5px) rotate(180deg);
    transform: rotateX(-90deg) translateZ(112.5px) rotate(180deg);
    background: transparent;
  }
  .button-container button {
    width: 85px;
    margin: 10px 5px;
  }
  #reset-cube {
    right: 18%;
  }
}

@media screen and (max-width: 740px) {
  .work-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work-desc {
    width: 100%;
  }
  .cube-wrapper {
    margin: 100px 20px 20px;
    width: calc(100% - 40px);
    -webkit-perspective: 900px;
            perspective: 900px;
  }
  #work-cube {
    right: 0px;
  }
  #reset-cube {
    top: 500px;
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .cube-wrapper {
    margin: 100px 0px 20px;
  }
  #work h1 {
    text-align: center;
  }
  #work h1:after {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  #reset-cube {
    bottom: 0;
  }
}

#skills-section {
  min-height: 60vh;
  position: relative;
  background: #F1F1F1;
}

.skills-wrapper {
  -webkit-box-shadow: 1px 1px 5px #061323;
          box-shadow: 1px 1px 5px #061323;
  background: #061323;
}

.skills-title h1 {
  position: relative;
  display: inline-block;
}

.skills-title h1:after {
  position: absolute;
  content: "";
  top: 55%;
  right: -45%;
  height: 6px;
  width: 100px;
  border-radius: 5%;
  background: #F1F1F1;
}

.toolbox-container {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figure i {
  font-size: 3rem;
  color: #DB5656;
}

figcaption {
  color: #DB5656;
}

@media screen and (max-width: 750px) {
  figure {
    text-align: center;
  }
  figure i {
    font-size: 2rem;
  }
  figcaption {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 500px) {
  .skills-title {
    text-align: center;
  }
  .skills-title h1:after {
    display: none;
  }
  .toolbox-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 160px;
  }
  figure {
    margin: 10px;
  }
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F1F1F1;
}

#contact-section {
  background: #F1F1F1;
}

.contact-title h1 {
  text-shadow: 1px 1px #061323, 2px 2px #061323;
  position: relative;
}

.contact-title h1:after {
  position: absolute;
  content: "";
  top: 55%;
  left: 240px;
  height: 6px;
  width: 100px;
  border-radius: 5%;
  background: #49738D;
}

.note {
  width: 500px;
  position: relative;
  -webkit-box-shadow: 1px 1px 5px #061323;
          box-shadow: 1px 1px 5px #061323;
  padding: 40px;
  background: #F1F1F1;
  border-radius: 5px;
}

.note h2 {
  text-align: center;
  margin-bottom: 15px;
}

.form-container {
  width: 500px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px #061323;
          box-shadow: 1px 1px 5px #061323;
  padding: 40px;
  background: #F1F1F1;
  border-radius: 5px;
}

.float-name, .float-email, .float-message {
  position: relative;
  width: 400px;
  margin: 25px auto;
}

.float-name input, .float-email input, .float-message input {
  width: 400px;
  height: 40px;
  border: none;
  padding: 5px;
  background: #49738D;
  color: #F1F1F1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.float-name textarea, .float-email textarea, .float-message textarea {
  border: none;
  padding: 5px;
  background: #49738D;
  color: #F1F1F1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#user-note {
  width: 400px;
}

.float-name label, .float-email label, .float-message label {
  position: absolute;
  top: 10px;
  left: 5px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.float-name input:focus ~ label, .float-email input:focus ~ label {
  opacity: 1;
  top: -24px;
  color: #DB5656;
}

.float-name input:focus, .float-email input:focus, .float-message textarea:focus {
  background: #F1F1F1;
  background: #A9C9DA;
  border-bottom: 4px solid #49738D;
  color: #061323;
}

.float-message textarea:focus ~ label {
  opacity: 1;
  top: -25px;
  color: #49738D;
  color: #DB5656;
}

.form-button {
  text-align: center;
  width: 140px;
  height: 40px;
  font-size: 1rem;
}

#hand {
  position: absolute;
  -webkit-animation: hand 2s infinite;
          animation: hand 2s infinite;
  font-size: 2rem;
  color: #49738D;
  bottom: 60px;
}

.accent {
  color: #DB5656;
  font-weight: 700;
}

#white {
  color: white;
}

@-webkit-keyframes hand {
  0% {
    left: 42%;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 42%;
  }
}

@keyframes hand {
  0% {
    left: 42%;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 42%;
  }
}

@media screen and (max-width: 1200px) {
  .note {
    width: 450px;
  }
  .float-name, .float-email, .float-message {
    width: 350px;
  }
  .form-container {
    width: 450px;
  }
  .form-container input {
    width: 350px;
  }
  .form-container textarea {
    max-width: 350px;
  }
}

@media screen and (max-width: 1100px) {
  .note {
    width: 400px;
  }
  .float-name, .float-email, .float-message {
    width: 300px;
  }
  .form-container {
    width: 400px;
  }
  .form-container input {
    width: 300px;
  }
  .form-container textarea {
    max-width: 300px;
  }
  #hand {
    bottom: 10px;
  }
}

@media screen and (max-width: 950px) {
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 1px 1px 5px #061323;
            box-shadow: 1px 1px 5px #061323;
  }
  .note, .form-container {
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .form-container {
    padding-top: 0;
  }
  .float-name, .float-email, .float-message {
    width: 500px;
  }
  .float-name input, .float-email input, .float-message input {
    width: 500px;
  }
  .float-name textarea, .float-email textarea, .float-message textarea {
    min-width: 500px;
  }
  #hand {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .float-name, .float-email, .float-message {
    width: 400px;
  }
  .float-name input, .float-email input, .float-message input {
    width: 400px;
  }
  .float-name textarea, .float-email textarea, .float-message textarea {
    min-width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .float-name, .float-email, .float-message {
    width: 300px;
  }
  .float-name input, .float-email input, .float-message input {
    width: 300px;
  }
  .float-name textarea, .float-email textarea, .float-message textarea {
    min-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .contact-title {
    text-align: center;
  }
  .contact-title h1:after {
    display: none;
  }
}

footer {
  height: 80px;
  background: #061323;
  text-align: center;
  padding-top: 25px;
}

footer p {
  color: #F1F1F1;
}
/*# sourceMappingURL=style.css.map */